[submodule "Core"]
	path = Core
	url = https://github.com/islandcontroller/mculib-core-riscv3a
[submodule "Peripheral"]
	path = Peripheral
	url = https://github.com/islandcontroller/mculib-peripheral-ch32v103
